body {
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

sup {
  color: red;
}

h1 {
  display: flex;
  justify-content: center;
}

span {
  height: 10px;
}

.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-content: center;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
}

.form-section,
.form-field,
.form-section.form-section--contact,
.form-section.form-section--login {
  display: flex;
}

.form-section,
.form-field {
  margin: 5px;
}

.form-field,
.form-section.form-section--contact,
.form-section.form-section--login {
  flex-direction: column;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 3px 5px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #c5c5c5;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 3px 5px;
  margin: 8px 0;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 0;
  color: #000;
  cursor: pointer;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select::after {
  content: "▾";
  font-size: 0.8rem;
  color: #5a5959;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

input[type="email"] {
  width: 100%;
  padding: 3px 5px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #c5c5c5;
}

input[type="submit"] {
  width: 100px;
  background-color: #4b34cc;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
}

.form-section.form-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#message {
  margin: 8px 0;
  border: 1px solid #c5c5c5;
}

.validation-error {
  color: red;
}
